@model Ecommerce.Models.Admin.ProductDetails

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    /* Note: Try to remove the following lines to see the effect of CSS positioning */
    .affix {
        top: 20px;
        z-index: 9999 !important;
    }

    .fullwidth {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .fullwidthactive {
        width: 100%;
        padding: 10px;
        background: #fff;
        border-radius: 5px 0px 0px 5px;
        border: 1px solid #c5c5c5;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        border-right: none;
        border-left: 2px solid #0081de;
    }
     

        .fullwidthactive a {
            color: #333;
            text-decoration: none;
        }

    .fullwidth:hover {
        border-radius: 5px;
        background: #d0cccc;
        color: #fff;
    }

    .fullwidth a {
        color: #333;
        text-decoration: none;
    }
</style>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Dashbord/Index">Dashbord</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Dashbord/productdetails">Product Details</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>

    <div class="col-md-12">
        <div class="row">
            <nav class="col-sm-3">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
                    <li class="active fullwidthactive tablinks" onclick="openCity(event, 'ProductDetails')" id="defaultOpen"><a href="#section1">Product Details</a></li>
                    <li class="fullwidth tablinks"><a href="#section2" onclick="openCity(event, 'Price')">Price</a></li>
                    <li class="fullwidth tablinks"><a href="#section3" onclick="openCity(event, 'Pictures')">Pictures</a></li>
                    <li class="fullwidth tablinks"><a href="#section3" onclick="openCity(event, 'Category')">Category</a></li>
                    <li class="fullwidth tablinks"><a href="#section3" onclick="openCity(event, 'Manufacture')">Manufacture</a></li>
                    <li class="fullwidth tablinks"><a href="#section3" onclick="openCity(event, 'SEO')">SEO</a></li>
                    <li class="fullwidth tablinks"><a href="#section3" onclick="openCity(event, 'Publish')">Publish</a></li>
                </ul>
            </nav>
            <div class="col-sm-9">
                @using (Html.BeginForm())
                {
                    <div style="width:100%">
                        <div style="display:inline-block;float:left;width:30%;">
                            <span style="font-size: 28px;font-weight: 600;color: #007ee6;">Product Details</span>
                        </div>
                        <div style="display:inline-block;  width:70%;  float: unset;">
                            <input type="submit" class="form-control" style="background-color:#28a745;border:none;color:#fff;font-weight:bold;width:30%;display:inline-block;float: right;" value="Save" />
                            @*<input type="submit" class="form-control" style="background-color:#0081de;border:none;color:#fff;font-weight:bold;width:30%;display:inline-block" value="Save and continue" />*@
                        </div>

                    </div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProductID)
                    <div class="form-horizontal tabcontent" id="ProductDetails">
                       


                        <hr />
                        <div style="height:400px;overflow:auto">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.StoreID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StoreID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProdreferencetID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProdreferencetID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProdreferencetID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                           
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductSize, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductSize, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductSize, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductColor, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductColor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductColor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductQuantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductTag, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductTag, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductTag, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductSKUCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductSKUCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductSKUCode, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        

                            <div class="form-group">
                                @Html.LabelFor(model => model.CID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductImageId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductImageId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductImageId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductWeight, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductWeight, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductWeight, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductStar, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductStar, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductStar, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsActive)
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.InsertDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.InsertDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InsertDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LMDDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LMDDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LMDDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="tabcontent" id="Price">
                        @*<span style="font-size: 28px;font-weight: 600;color: #007ee6;">
                            Price
                        </span>*@
                        <div >
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VAT, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tabcontent" id="Pictures">
                        @*<span style="font-size: 28px;font-weight: 600;color: #007ee6;">
                            Pictures
                        </span>*@
                        <div class="alert alert-warning">
                            <strong>Warning!</strong> Save Product Details to add Pictures for Product.
                        </div>
                    </div>
                    <div class="tabcontent" id="Category">
                        @*<span style="font-size: 28px;font-weight: 600;color: #007ee6;">
                            Category
                        </span>*@
                        <div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductCategory, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductSubCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductSubCategory, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductSubCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tabcontent" id="Manufacture">
                        @*<span style="font-size: 28px;font-weight: 600;color: #007ee6;">
                            Manufacture
                        </span>*@
                        <div >
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductBrand, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductBrand, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductBrand, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontent" id="SEO">
                        @*<span style="font-size: 28px;font-weight: 600;color: #007ee6;">
                            SEO
                        </span>*@
                        <div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductMetatagdescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductMetatagdescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductMetatagdescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductMetatagKey, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductMetatagKey, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductMetatagKey, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductMetataAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductMetataAuthor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductMetataAuthor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontent" id="Publish">
                        @*<span style="font-size: 28px;font-weight: 600;color: #007ee6;">
                            Publish
                        </span>*@
                        <div >
                          
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<style>
    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 30%;
        height: 300px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        float: left;
        width: 100%;
    }
</style>
<script>
    function openCity(evt, cityName) {
        debugger
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" fullwidthactive", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " fullwidthactive";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>