@model Ecommerce.Models.Banner

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Banner</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BannerImgePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BannerImgePath, new { htmlAttributes = new { @class = "form-control" ,type="file"} })
                @Html.ValidationMessageFor(model => model.BannerImgePath, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnUpload" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <p>
        <span id="msgimg"></span>
    </p>
    <div id="imgshow" class="col-md-8">

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        $('#btnUpload').on('click', function (e) {
            var files = $("#BannerImgePath").get(0).files;
            debugger
            var ProdID = $('#BannerImgePath').val() //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    data.append("id", 0);
                    $.ajax({
                        type: "POST",
                        url: '/Banners/UploadFile/',
                        data: { 'id': ProdID },
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            debugger
                            $('#msgimg').text(result)
                            var div = document.getElementById('imgshow');
                            var img = document.createElement('img');
                            img.height = 100;
                            img.src = 'http://livingstud.com/images/' + $("#ProductImage").prop("files")[0].name;
                            div.appendChild(img);
                            $('#imgshow img').css('padding', '10px')
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    });
</script>