@model Ecommerce.Models.Admin.CustomerDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CustomerDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CusttTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusttTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustWebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustWebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreaditCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreaditCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WalletMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalletMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMDDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMDDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSubScribe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubScribe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
