@model Ecommerce.Models.Discount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Discount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountedProductCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountedProductCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountVendorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountVendorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountAmountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUpdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
